In [40]:
import pandas as pd
from sqlalchemy import create_engine

In [45]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [60]:
engine = create_engine('mysql+mysqlconnector://root:Marconi1991@localhost:3306/publications')

query = '''SELECT 
		t.title_id AS 'TITLE ID',
        ta.au_id as 'AUTHOR ID',
        (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) AS 'SALES_ROYALTY'
       
FROM titles as t
left join titleauthor as ta
on t.title_id = ta.title_id
left join authors as a
on a.au_id = ta.au_id
LEFT JOIN sales as s
ON s.title_id = ta.title_id '''

df1 = pd.read_sql(query, engine)

df1.head()

  TITLE ID    AUTHOR ID  SALES_ROYALTY
0   BU1032  213-46-8915          3.998
1   BU1032  213-46-8915          7.996
2   BU1032  409-56-7008          5.997
3   BU1032  409-56-7008         11.994
4   BU1111  267-41-2394         11.950

In [ ]:
query = df1.