In [9]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/nico/anaconda3/lib/python3.10/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/nico/anaconda3/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import mysql.connector as conn

In [11]:
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password')

In [12]:
cursor = conexion.cursor()

cursor

In [13]:
db = conn.connect(host='localhost',
                  user='root',
                  passwd='password',
                  database='publications')  

cursor = db.cursor()

In [14]:
query = '''

select a.au_id, t.title_id, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as sales_royalties
from authors as a
left join titleauthor as ta
on ta.au_id = a.au_id
left join titles as t
on t.title_id = ta.title_id
left join sales as s
on s.title_id = t.title_id
left join roysched as r
on r.title_id = t.title_id
group by s.qty,a.au_id, t.title_id, ta.royaltyper







'''
cursor.execute(query)

In [16]:
query2 = '''

select title_id, au_id, SUM(sales_royalties) AS sum_royalties
from    
(select a.au_id, t.title_id, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as sales_royalties
from 
authors as a
left join titleauthor as ta
on ta.au_id = a.au_id
left join titles as t
on t.title_id = ta.title_id
left join sales as s
on s.title_id = t.title_id
left join roysched as r
on r.title_id = t.title_id) as sub
group by a.au_id, t.title_id


'''

In [ ]:
query3 = '''
SELECT
    sub.au_id AS 'Author ID', SUM(t.advance) + SUM(sub.sum_royalties) AS total_profits
from
(select sub.title_id, sub.au_id, SUM(sub.sales_royalties) AS sum_royalties
	from    
		(select a.au_id, t.title_id, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as sales_royalties
		from 
		authors as a
		left join titleauthor as ta
			on ta.au_id = a.au_id
		left join titles as t
			on t.title_id = ta.title_id
		left join sales as s
			on s.title_id = t.title_id
		left join roysched as r
			on r.title_id = t.title_id) as sub
		group by sub.au_id, sub.title_id) as sub
			join titles as t 
				on t.title_id = sub.title_id
                group by sub.au_id
                order by total_profits DESC
                limit 3







'''

In [ ]:
## Challenge 2:
query4= '''
create temporary table tempo

SELECT
    sub.au_id AS 'Author ID', SUM(t.advance) + SUM(sub.sum_royalties) AS total_profits
 
from
(select sub.title_id, sub.au_id, SUM(sub.sales_royalties) AS sum_royalties
	from    
		(select a.au_id, t.title_id, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as sales_royalties
		from 
		authors as a
		left join titleauthor as ta
			on ta.au_id = a.au_id
		left join titles as t
			on t.title_id = ta.title_id
		left join sales as s
			on s.title_id = t.title_id
		left join roysched as r
			on r.title_id = t.title_id) as sub
		group by sub.au_id, sub.title_id) as sub
			join titles as t 
				on t.title_id = sub.title_id
                group by sub.au_id
                order by total_profits DESC
                limit 3

'''

In [ ]:
## Challenge 3:
query5 = '''
create table perma as

SELECT
    sub.au_id AS 'Author ID', SUM(t.advance) + SUM(sub.sum_royalties) AS total_profits
   
from
(select sub.title_id, sub.au_id, SUM(sub.sales_royalties) AS sum_royalties
	from    
		(select a.au_id, t.title_id, (t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100) as sales_royalties
		from 
		authors as a
		left join titleauthor as ta
			on ta.au_id = a.au_id
		left join titles as t
			on t.title_id = ta.title_id
		left join sales as s
			on s.title_id = t.title_id
		left join roysched as r
			on r.title_id = t.title_id) as sub
		group by sub.au_id, sub.title_id) as sub
			join titles as t 
				on t.title_id = sub.title_id
                group by sub.au_id
                order by total_profits DESC
                limit 3

'''